// Todo el contenido de main.sass
@import 'main/main'

// Abstracts/utils
@import 'desktop/abstracts/variables'
@import 'desktop/abstracts/mixins'

// Base
@import 'desktop/base/base'
@import 'desktop/base/typography'

// Components
@import 'desktop/components/buttons'
@import 'desktop/components/progress-bar'

// Layout
@import 'desktop/layout/header'
@import 'desktop/layout/grid'
@import 'desktop/layout/footer'

.between-levels
  @include bg-image-position("../assets/img/level1/smoke.jpg", top)
  background-size: cover
  background-repeat: no-repeat
  font-size: $medium-size
  &__title
    text-align: center
    font-size: $largest-size
    padding-top: 8rem
  &__text
    text-align: center
    font-size: $large-size
  &__question
    text-align: center
    font-size: $large-size
  &__level-info
    @include flex-center
    gap: .5rem
    height: 1.5rem
    position: absolute
    bottom: 1rem
    left: 50%
    margin-left: -96px
    font-size: $medium-size
  &__share
    position: absolute
    top: 1rem
    left: 1rem

/* Se añade una de estas dos clases para cambiar la imagen de fondo */
.between-levels--pic-change
  @include bg-image-position("../assets/img/level2/woman.jpg", center)

.between-levels--last-change
  @include bg-image-position("../assets/img/level3/yellow-flower.jpg", center)

.between-levels-share__image
  width: 2rem