.game-menu
  &__intro
    margin: 0 auto 3.5rem
    padding: 6rem 0 0 2.3rem
    width: 70%
  &__start
    display: none
  &__warning
    /* Para colocar la imagen respecto al padre */
    position: relative
    margin: 0 auto
    padding: 2rem 1rem
    @include white-border
    width: 65%
    max-height: 14rem

.game-menu-warning__image
  position: absolute
  top: 1rem
  left: 1rem
  width: 2rem

.game-menu-warning__text
  margin-top: 2rem
  padding-left: 1rem