.game-menu
  &__intro
    margin: 0 auto 3.5rem
    width: 70%
    padding: 6rem 0 0 2.3rem
  &__start
    display: none
  &__warning
    margin: 0 auto
    position: relative
    padding: 2rem 1rem
    border: 2px solid $white-colour
      radius: 1rem
    width: 65%
    max-height: 14rem

.game-menu-warning__image
  width: 2rem
  position: absolute
  top: 1rem
  left: 1rem

.game-menu-warning__text
  margin-top: 2rem