.game-menu
  &__intro
    margin: 0 auto 6rem
    width: 55%
    padding: 6rem 0 0 3.8rem
  &__start
    @include flex-center
  &__warning
    display: none

.game-menu-start__button
  @include flex-center
  gap: 1rem
  background-color: transparent
  color: $white-colour
  font-size: 2rem
  border: transparent
  width: 10rem

.game-menu-start__image
  width: 3rem


