/* Para las tarjetas */
.container
  @include container(90%)

.container--2
  @include container(700px)

.container--3
  @include container(800px)

/* Lo usamos tanto en las pantallas de los niveles como en las pantallas intermedias */
.level-info
  @include flex-center(.5rem)
  height: 1.5rem
  position: absolute
  bottom: 1rem
  left: 50%
  margin-left: -96px